#frontpage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#posts {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-right: 30px;
}
/* 
#posts .post-preview:nth-child(odd) {
    background: var(--comp-color-2);
}

#posts .post-preview:nth-child(even) {
    background: var(--comp-color-1);
} */

#spacer {
    flex: 1;
    transition: .15s;
    position: relative;
}

@media only screen and (max-width: 800px) {
    #spacer {
        flex: 2;
    }
}

@media only screen and (max-width: 600px) {
    #spacer {
        display: none;
    }
    #posts {
        flex: 1;
    }
}

