/* Generic Defaults */
* {
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

hr {
    border: none;
    border-bottom: var(--layer0) dashed 3px;
    width: 80%;
}

p, a {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bolder;
}

em {
    font-style: italic;
}

/* CSS Variables */
:root {
    --background-color: rgb(19, 17, 27);
    --layer0: rgb(55, 30, 58);
    --text-color: rgb(225, 225, 225);
}

/* Custom Element Styling, Less Generic */

body {
    background: var(--background-color);
    color: var(--text-color);
}

#content {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}