#article-list {
    width: 500px;
}

.article-link {
    cursor: pointer;
    padding: 15px;
    transition: .15s;
    max-width: 500px;
    display: block;
}

.article-link .date {
    font-size: 16px;
}

.medium {
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 15px;
    border: var(--text-color-half) solid 1px;
    width: initial;
    display: inline-block;
}

.article-link:hover {
    filter: brightness(1.1);
}

.medium[value = "video games"] {
    background: var(--comp-color-1);
}

@media only screen and (max-width: 500px) {
    #article-list {
        width: initial;
        max-width: 500px;
    }
}