#article-list-wrapper {
    width: 500px;
    flex: 1;
    align-self: center;
}

#article-list {
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

#pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pagination img{
    width: 20px;
    cursor: pointer;
}

#backpage {
    margin-right: 15px;
    transform: rotateZ(180deg);
}

#pagination p {
    font-size: 14px;
    flex: 1;
}

.deactivated {
    display: none;
}

.article-link {
    cursor: pointer;
    padding: 15px;
    transition: .15s;
    max-width: 500px;
    display: block;
}

.article-link .date {
    font-size: 16px;
}

.medium {
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 15px;
    border: var(--text-color-half) solid 1px;
    width: initial;
    display: inline-block;
}

.article-link:hover {
    filter: brightness(1.1);
}

.medium[value = "video games"] {
    background: var(--comp-color-1);
}

@media only screen and (max-width: 500px) {
    #article-list-wrapper {
        width: 100%;
    }
}