@keyframes loadArticle{
    from {
        opacity: 0;
    }    

    to {
        opacity: 1;
    }
}

article {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    width: 100%;

    animation-name: loadArticle;
    animation-duration: 1s;

    border-bottom: var(--comp-color-1) dashed 3px;
}

#date {
    font-size: 16px;
    opacity: .8;
}

#topper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 15px;
    
}

#topper h3 {
    margin: 0 auto;
}

#top-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--layer0);
    padding: 10px;
    border-bottom-left-radius: 20px;
}

#body {
    max-width: 550px;
    text-align: left;
    white-space: pre-wrap;
    line-height: 1.5em;
    padding-bottom: 50px;
    font-size: 17px;
}

#body > p {
    width: 100%;
}

.wait {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#comment-section {
    width: 500px;
    padding-top: 25px;
}

img {
    margin: 0 auto;
    width: 100%;
    display: block;
    border: var(--text-color) solid 2px;
}

@media only screen and (max-width: 500px) {
    #body {
        line-height: 1.4em;
    }

    #body p{
        font-size: 17px;
    }

    #comment-section {
        width: 100%;
    }

    img {
        width: 70%;
    }
}

