@keyframes loadArticle{
    from {
        opacity: 0;
    }    

    to {
        opacity: 1;
    }
}

@keyframes revealButton {
    0% {
        opacity: 0;
        transform: scale(.5);
        filter: brightness(1);
    }
    75% {
        opactity: 1;
        transform: scale(1.2);
        filter: brightness(1.5);
    }
    100% {
        transform: scale(1);
    }
}

article {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    width: 100%;

    animation-name: loadArticle;
    animation-duration: 1s;
}

#date {
    margin-top: 5px;
    font-size: 16px;
    opacity: .8;
}

#topper {
    text-align: center;
    max-width: 500px;
    margin-bottom: 15px;
}

#topper h3 {
    margin: 0 auto;
}

#top-wrapper {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--layer0);
    padding: 10px;
    border-bottom-left-radius: 20px;
}

#body {
    max-width: 550px;
    text-align: left;
    white-space: pre-wrap;
    line-height: 1.5em;
    padding-bottom: 30px;
    font-size: 17px;

}

#body > p {
    width: 100%;    
    transition: .25s;
}

.wait {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#comment-section {
    border-top: var(--text-color-half) dashed 3px;
    width: 500px;
}

#jumpUp {
    cursor: pointer;
    position: sticky;
    right: 0;
    bottom: 10px;
    width: 35px;
    height: 35px;
    background: var(--layer1);
    padding: 5px;
    border-radius: 50%;
    border: var(--text-color-half) solid 2px;
    text-align: right;
    flex: none;
    align-self: flex-end;

    animation-name: revealButton;
    animation-duration: .15s;
}

/* #jumpUp:hover {
    transform: scale(1.1);
    filter:brightness(1.2);
} */

#comment-section h3 {
    padding: 15px 0;
}

article img {
    margin: 0 auto;
    width: 100%;
    display: block;
    border: var(--text-color) solid 2px;
}

@media only screen and (max-width: 585px) {
    #body {
        line-height: 1.4em;
    }

    #body p{
        font-size: 17px;
    }

    #comment-section {
        width: 100%;
    }

    img {
        width: 70%;
    }

    #jumpUp {
        width: 50px;
        height: 50px;
        box-shadow: 0 5px 0 black;
    }
}

