@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.post-preview {
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
   

    border-top: var(--comp-color-2) dotted 4px;

    animation-name: fadein;
    animation-duration: .15s;
}

.date {
    /* position: absolute;
    right: 0;
    bottom: 5px; */
    font-style: italic;
    padding: 5px 0;
    opacity: .75;
}

.body {
    padding-bottom: 25px;
}